# This project uses platform-specific requirements.
# Please install the correct dependencies for your operating system:

# For Windows:
# pip install -r requirements-win.txt

# For macOS and Linux:
# pip install -r requirements-unix.txt
